.banner-section {
  padding: 60px 0;
  min-height: 90vh;
  display: flex;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

.banner-text {
  flex: 1;
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.2s;
  color:#172946;
}

.banner-text h1 {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.2s;
  color:#172946;
}

.banner-text p {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.5s;
}

.banner-text button {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.8s;
  transition: all 0.3s ease;
}

.banner-img {
  flex: 1;
  text-align: center;
  animation: fadeIn 2s ease-out;
}

.banner-img img {
  max-width: 70%;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}



/* Animations */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
